* {
    margin: 0;
}

.wrapper {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.one {
    height: 811px;
    background-image: url(img/Новый\ проект.png);
}

h1 {
    text-align: center;
    font-weight: 1;
    padding: 180px 0 0 0;
    font-size: 70px;
}

.zxc-img {
    margin: 15px 0 0 670px;
}

.button1 {
    width: 130px;
    height: 40px;
    border: 1px solid rgb(255, 109, 109);
    background-color: rgb(255, 109, 109);
    display: flex;
    justify-content: center;
    margin: 0px 0 0 650px;
}

.pudge {
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 10px 0 0 0;
}

.mp5 {
    margin: 10px 0 0 627px;
}

.two {
    height: 723px;
    display: flex;
    justify-content: space-between;
}

.soul {
    color: rgb(255, 109, 109);
    font-size: 20px;
}

.zxc-text {
    font-size: 50px;
    font-weight: 1;
}

.light {
    margin: 30px 0 20px 0;
}

.dark {
    padding: 190px 0 0 150px;
}

.three {
    height: 675px;
    background-image: url(img/cтакан\ и\ кружка.png);
}

.requiem {
    font-size: 60px;
    font-weight: 1;
    padding: 0 0 0 440px;
}

.coil {
    color: rgb(255, 109, 109);
    padding: 135px 0 0 640px;
}

.teext {
    text-align: center;
}

.necromanstery {
    font-size: 22px;
    font-weight: bold;
    padding: 12px 0 8px 0;
}

.sf {
    display: flex;
    justify-content: space-around;
    margin: 85px 0 0 0;
}

.pivo1 {
    margin: 0 0 0 230px;
}

.pivo2 {
    margin: 0 230px 0 0;
}

.four {
    height: 546px;
    display: flex;
    justify-content: space-between;
}

.zakat {
    margin: 145px 200px 0 0;
}

.five {
    height: 647px;
    background-image: url(img/фон.png);
}

.zxc1 {
    color: white;
    font-size: 20px;
    padding: 10px 0 0 0;
}

.zxc2 {
    color: rgb(255, 109, 109);
    padding: 0 0 25px 0;
}

.zxc3 {
    color: grey;
}

.zxc-wrapper {
    text-align: center;
}

.fff {
    display: flex;
    justify-content: space-between;
    padding: 120px 0 0 0;
}

.spirit-pivo {
    display: flex;
    justify-content: center;
    padding: 130px 0 0 0;
}

.six {
    height: 751px;
    background-image: url(img/Новый\ проект13423.png);
}

.bb {
    font-size: 35px;
    text-align: center;
}

.gg {
    color: rgb(255, 109, 109);
    text-align: center;
    padding: 80px 0 0 0;
}

.qwer {
    text-align: center;
    padding: 30px 0 0 0;
}

.seven {
    height: 466px;
    background-image: url(img/фон2.png);
}

.jotaro {
    font-size: 50px;
    text-align: center;
    color: white;
    font-weight: 1;
}

.hahaha {
    display: flex;
    justify-content: space-evenly ;
    align-items: flex-end;
}

.button2 {
    width: 260px;
    height: 50px;
    border: 1px solid rgb(255, 109, 109);
    background-color: rgb(255, 109, 109);
    display: flex;
    justify-content: center;
    margin: 0px 0 0 650px;
}

.qq {
    margin: 15px 0 0 0;
}

.cs {
    margin: 100px 0 0 0;
    
}

.ananas {
    color: grey;
    text-align: center;
    padding: 50px 0 0 0;
}

.uif {
    color: grey;
}